body {
	background-color: #555;
    width: 95%;
    height: 95%;
    font-family: sans-serif;
}

p.status {
    margin: 3px;
}

p.status > span {
    width: 20%;
    display: inline-block;
}

p.status .val {
    background: #666;
}

html {
    height: 100%;
}

input, textarea, label, button {
	border: 1px solid #404040;
    color: black;
}

input, textarea, button {
	background-color: #777;
}

#login_form {
    width: 250px;
    display: table;
    border-spacing: 2px;
    border: 1px solid #404040;
    margin: 2px;
}

.block {
    border: 1px solid #404040;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 2px;
    box-sizing: border-box;
}

#header {
    height: 15%;
    box-sizing: border-box;
}

#middle_div {
    height: 70%;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
}

#game_board {
    height: 98%;
}

#character_info {
    width: 20%;
}

#field_wrapper {
    width: 55%;
    height: 100%;
}

#enemy_info {
    width: 20%
}

#console_wrapper {
    height: 15%;
    box-sizing: border-box;
}

#console_output{
    border: 1px solid #404040;
    margin: 2px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #777;
    font-family: monospace;
    
}

div.connect_button_wrapper {
    margin: 2px;
    border: 1px solid #404040;
    display: inline-block;
}

div.input {
    display: table-row;
}

div.input label, button {
    width: 70px;
    text-align: center;
}

div.input label,
div.input input {
    display: table-cell;
}

button {
    margin: 2px;
}

div.input label,
div.input input,
div.input button {
    height: 20px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0px;
}

#field{
	font-family: monospace;
    font-size: 14px;
    font-weight: bold;
	border-width: 0px;
	border-collapse: collapse;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
    background: #404040;
}

#field div {
    height: 14px;
    width: 14px;       
}

#field td {
    padding: 0px;
    text-align: center;
}

#field td.walkable {
    background: green !important;
    cursor: pointer;
}

#field td.object{
	background-color: #666;
}

#field td.object_selected{
	background-color: #33f;
}

#field td.object_hovered{
	background-color: #3f3;
}

#field td.object_hovered.object_selected{
	background-color: #6ff;
}

#field td.my_cr{
	background-color: #633;
}

.hidden{
    display: none !important;
}

.red{
    color: darkred;
}